body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    background-color:#FFFFFF;
    margin: 0px;
    
}

.verm
{
  background-color: #e2353b;
  top: 0px;
  width: 360px;
  height: 60px;
}


.menu2
{
  background-color: #e2353b;
  margin-top: 10px;
  width: 360px;
  height: 60px;
  z-index: 0;
  overflow: hidden;
}
.espaco
{
  margin-left: 10px;
}
.um
{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: -20px;
}

.escrita
{
  height: 70px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.titulo
{
  font-size: 18px;
  font-family: 'Effra Heavy', sans-serif;
  font-family: 'Effra Light', sans-serif;
  font-family: 'Effra Medium', sans-serif;
  font-family: 'Effra', sans-serif;
}


.sub
{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.principal{
  width: 320px;
  height: 500px;
  /*background-color: black;*/
  overflow: scroll;
}

.d1{
  width: 250px;
  height: 130px;
  border-radius: 10px;
  border-color: rgb(143, 137, 137);
  background-color: silver;
  margin-top: 25px;
  margin-left: 40px;
  position:relative
}

.d2{
  width: 250px;
  height: 130px;
  border-radius: 10px;
  background-color: silver;
  margin-top: 25px;
  margin-left: 40px;
  position:relative
  
}

.d3{
  width: 250px;
  height: 130px;
  background-color: silver;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 40px;
  position:relative
  
}
.enviar
{
  margin-top: 10px;
  margin-left: 65px;
  width: 80px;
  height: 30px;
  border-color: transparent;
  border-radius: 5px;
  background-color: #e2353b;
  color: white;
  align-items: center;
}

.caixinha
{
  margin-top: 5px;
  min-width: 20px;
  margin-left: 5px;
  min-height: 20px;
}
.caixa
{
width: 200px;
height: 30px;
border-radius: 10px;
margin-top: 5px;
font-size: 15px;
border-style: solid;
border-color: transparent;
}

.caixa2
{

height: 15px;
border-radius: 10px;
margin-top: 5px;
font-size: 15px;
margin-left: 30px;
border-style: solid;
border-color: transparent;
}

.caixa3
{
  
  margin-left: 10px;
  border-style: solid;
  border-color: transparent;
}

.setaa
{
  margin-left: 225px;
}

.caixa3
{
width: 200px;
height: 30px;
border-radius: 10px;
margin-top: 5px;
font-size: 15px;
border-style: solid;
border-color: transparent;
}

.Enviar
{
margin-left: 65px;
width: 80px;
height: 40px;
border-radius: 5px;
background-color: #e2353b;
color: white;
align-items: center;
}

#okay6
{
  margin-top:6px;
  margin-left:220px ;
}

#okay5
{
  margin-top:6px;
  margin-left:220px ;
}


#okay4
{
  margin-top:6px;
  margin-left:220px ;
}

.okay4
{
  display: none;
}

.okay6
{
  display: none;
}

.okay5
{
  display: none;
}


.teste
{
  margin-left: 0px;
  left: 0px;
  top: 0px;
  background-color:rgb(180, 179, 179);
  width: 100%;
  height: 30px;
  margin-top: 0px;
  position: absolute;
  border-radius:  10px 10px 0px 0px;
  /*226, 30, 30*/
}
.botao
{
  background-color:#343186;
}

.esconder
{
margin-top: 5px;
margin-left: 10px;
width: 90%;

font-size: 15px;
background-color: rgb(180, 179, 179);
border-radius: 10px;
font-family: 'Poppins', sans-serif;
display: none;

}
.empurrar
{
width: 90%;
height: 10px;
}

.inicial
{
margin-top:30px;
margin-left: 10px;
width: 90%;
height: 40px;
/*background-color: pink;*/
}

p
{
  margin-top: 10px;
font-size: 15px;
color: #343186;
display: flex;
font-family: 'Effra Heavy', sans-serif;
font-family: 'Effra Light', sans-serif;
font-family: 'Effra Medium', sans-serif;
font-family: 'Effra', sans-serif;
justify-content: center;
justify-items: center;
align-items: center;
align-content: center;

}

.ok 
{
display: block;
height: 150px;
background-color: rgb(172, 52, 52);
border-radius: 10px;

 margin: 10px auto; /* Centraliza os botões horizontalmente */
}

#menu {
  position: fixed;
  top: 0;
  right: -33.33%; /* Inicialmente escondido */
  width: 33.33%;
  height: 100%;
  background-color:#343186 ;
  color: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 999;
  }
  
  #menu.open 
  {
   right: 0; /* Exibe o menu */
  }
  
   #menu ul {
   list-style: none;
  padding: 0;
  margin: 50px 20px;
   }
  
   #menu li {
   margin-bottom: 15px;
   display: flex;
   flex-direction: row;
   justify-items: center;
   }
  
   #menu a {
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
   }
  
   #menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  color:white;
}


.boneco
{
  width: 25PX;
  height: 25PX;
  top: 0px;
}
.corpo {
  width: 25em;
  height: 25em;
  position: relative;
  margin-left: -10px;
  background-size: cover; /* Para garantir que a imagem cubra toda a área */
}

.parte {
  position: absolute;
  background-color: transparent; /* Sem cor de fundo */
  transition: background-color 0.3s;
}

.parte:hover {
  background-color: rgba(255, 0, 0, 0.334) /* Um leve destaque ao passar o mouse */
}
#cabeca {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 12px;
  left: 82px;
}

#tronco {
  width: 70px;
  height: 140px;
  top: 67px;
  left: 67px;
  border-radius: 20px;
}

#membrossuperiores {
  width: 15px;
  height: 80px;
  top: 40px;
  margin-left: 27px;
  border-radius: 20px;
}
#membrossuperiores2 {
  width: 15px;
  height: 80px;
  top: 40px;
  margin-left: 87px;
  border-radius: 20px;
}
#membrosinferiores {
  width: 15px;
  height: 120px;
  top: 120px;
  margin-left: 67px;
  border-radius: 20px;
}
#membrosinferiores2 {
  width: 15px;
  height: 120px;
  top: 120px;
  margin-left: 47px;
  border-radius: 20px;
}


#resultado {
  margin-top: 20px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;

}
#resultados {
  margin-top: 20px;
  margin-left: 10px;
  align-items: center;
  align-content: center;
  justify-items: center;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
  
  font-family: 'Poppins', sans-serif;

}
#resultado1 {
 
  margin-left: 2px;
  font-family: 'Poppins', sans-serif;
  color:rgba(255, 0, 0, 0.658)

}
.tabela
{
  width: 100%;
  height: 250px;
  /*background-color: #ffffff99;*/
  margin-top: 20px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  align-content: center;
  
}
.local
{
  width: 90%;
 height: 50px;
 margin-left: 12px;
 background-color: #ffffff99;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.478);
  border-width:2px ;
  border-style: solid;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.face
{
 width: 90%;
 height: 50px;
 margin-left: 12px;
 background-color: #ffffff99;
  margin-top:8px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.478);
  border-width:2px ;
  border-style: solid;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
 
}
.lado
{
  width: 90%;
  height: 50px;
  background-color: #ffffff99;
  margin-left: 12px;
   margin-top: 10px;
   border-radius: 10px;
   border-color: rgba(0, 0, 0, 0.478);
   border-width:2px ;
   border-style: solid;
   display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.rela
{
 margin-left: 70px;
}
.tipo
{
  width: 90%;
  height: 50px;
  margin-left: 12px;
  background-color: #ffffff99;
   margin-top: 10px;
   border-radius: 10px;
   border-color: rgba(0, 0, 0, 0.478);
   border-width:2px ;
   border-style: solid;
   display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.parte2 {
  position: absolute;
  background-color: transparent; /* Sem cor de fundo */
  transition: background-color 0.3s;
}

.parte2:hover {
  background-color: rgba(255, 0, 0, 0.334) /* Um leve destaque ao passar o mouse */
}
#cabeca2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 0px;
  left: 160px;
}

#tronco2 {
  width: 50px;
  height: 80px;
  top: 40px;
  left: 151px;
  border-radius: 20px;
}

#membrossuperiores1 {
  width: 15px;
  height: 80px;
  top: 40px;
  margin-left: 137px;
  border-radius: 20px;
}
#membrossuperiores02 {
  width: 15px;
  height: 80px;
  top: 40px;
  margin-left: 197px;
  border-radius: 20px;
}
#membrosinferiores1 {
  width: 15px;
  height: 120px;
  top: 120px;
  margin-left: 180px;
  border-radius: 20px;
}
#membrosinferiores02 {
  width: 15px;
  height: 120px;
  top: 120px;
  margin-left: 157px;
  border-radius: 20px;
}


#resultado {
  margin-top: 20px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;

}
#resultado1 {
 
  margin-left: 2px;
  font-family: 'Poppins', sans-serif;
  color:rgba(255, 0, 0, 0.658)

}
.trauma
{
 background-color: #343186;
 border-color: transparent;
 width: 180px;
 height: 50px;
 color: #fff;
 font-size: 13.5px;
 font-family: 'Poppins', sans-serif;
 border-radius: 10px ;
}

