body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    background-color:#FFFFFF;
    margin: 0px;
    
}
.corpo {
  width: 25em;
  height: 25em;
  position: relative;
  background-size: cover; /* Para garantir que a imagem cubra toda a área */
}

.parte {
  position: absolute;
  background-color: transparent; /* Sem cor de fundo */
  transition: background-color 0.3s;
}

.parte:hover {
  background-color: rgba(129, 171, 248, 0.7)


}
#cabeca {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 12px;
  left: 82px;
}

#tronco {
  width: 70px;
  height: 140px;
  top: 67px;
  left: 67px;
  border-radius: 20px;
}

#membrossuperiores {
  width: 15px;
  height: 130px;
  top: 65px;
  left: 50px;
  transform: skew(354deg);
  border-radius: 20px;
  -ms-transform: skew(354deg);
  -webkit-transform: skew(354deg);
}
#membrossuperiores2 {
  width: 15px;
  height: 130px;
  top: 65px;
  left: 145px;
  transform: skew(-348deg);
  border-radius: 20px;
  -ms-transform: skew(-348deg);
  -webkit-transform: skew(-348deg);
}
#membrosinferiores {
  width: 30px;
  height: 170px;
  top: 198px;
  left: 69px;
  border-radius: 20px;
}
#membrosinferiores2 {
  width: 30px;
  height: 170px;
  top: 198px;
  left: 106px;
  border-radius: 20px;
}



.parte2 {
  position: absolute;
  background-color: transparent; /* Sem cor de fundo */
  transition: background-color 0.3s;
}

.parte2:hover {
  background-color: rgba(129, 171, 248, 0.7)

}
#cabeca2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 12px;
  left: 266px;
}

#tronco2 {
  width: 70px;
  height: 140px;
  top: 67px;
  left: 250px;
  border-radius: 20px;
}

#membrossuperiores1 {
  width: 15px;
  height: 130px;
  top: 65px;
  left: 228px;
  border-radius: 20px;
  transform: skew(348deg);
  -ms-transform: skew(348deg);
  -webkit-transform: skew(348deg);
}
#membrossuperiores02 {
  width: 15px;
  height: 130px;
  top: 65px;
  left: 325px;
  border-radius: 20px;
  transform: skew(348deg);
  -ms-transform: skew(-352deg);
  -webkit-transform: skew(-352deg);
}
#membrosinferiores1 {
  width: 30px;
  height: 170px;
  top: 198px;
  left: 252px;
  border-radius: 20px;
}
#membrosinferiores02 {
  width: 30px;
  height: 170px;
  top: 198px;
  left: 289px;
  border-radius: 20px;
}

