body {
    margin: 0;
    padding: 0;
    font-family: Kanit;
    box-sizing: border-box;
}

.left-column {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.right-column {
    background-color: #223366;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-heading {
    font-weight: bold;
    margin-bottom: 20px;
}

/* .col-xl-12 input, .col-xl-12 select{
    font-size:10px
} */

input:not([type="checkbox"]),
select {
    width: 100% !important;
    margin-bottom: 10px !important;
    border: 0 !important;
    border-bottom: solid 1px #cfcfcf !important;
}

input:not([type="checkbox"]):focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 !important;
    border-bottom: 2px solid #1a2759 !important;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.form-control {
    border-radius: 0;
}

.login-button {
    padding: 10px 3em 10px 3em;
    background-color: #223366;
    color: #fff;
    border: none;
    border-radius: 100vh;
    cursor: pointer;
    width: fit-content;
}

.login-button:hover {
    background-color: #1a2759;
}

.forgot-password {
    margin-top: 10px;
    color: #223366;
    text-decoration: none;
    display: inline-block;
}

.sumir {
    display: none !important;
}

.nav {
    background-color: #33338D;
    position: relative;
    height: 85px;
}

.nav-img {
    width: 150px;
    position: absolute;
    top: 15px
}

.nav-title {
    color: #fff;
    margin-left: 160px;
}

@media (max-width: 500px) {
    .nav-title {
        margin-left: 10px;
    }
}

.btn-primary {
    background-color: #33338D !important;
    border: 0;

}

.coluna-botoes {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.coluna-botoes>button {
    width: 300px;
}

div:has(.coluna-botoes)::-webkit-scrollbar {
    width: 6px;
}
div:has(.coluna-botoes)::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
}

.hamburger{
    background:none;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    padding:7px 15px 0px 15px;
    color:#999;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }